<section class="main__article articles-explanation first-article">
    <div>
        <ul>
            <li>
                <span class="article-header-text">Introduction</span><br/>
                <p class="article-text">If you don't know anything about Kanji, this article can provide you with some semblance of basics. Maybe you will even find the read interesting! There are a lot of historical and complicated reasons for why this writing system is the way it is.</p>
            </li>
            <br/>
            <li>
                <span class="article-header-text">Gikun</span><br/>
                <p class="article-text">Gikun is an advanced concept within Kanji where a lot of the usual rules of Kanji do not apply. Like with everything, there are historical reasons for this, but sometimes it can be a bit more whimsy than even that. For enterprising Japanese-learners, Gikun can be some of the most difficult thing to get used to.</p>
            </li>
            <br/>
            <li>
                <span class="article-header-text">Ateji</span><br/>
                <p class="article-text">Ateji is another advanced concept within Kanji. It is more rule-abiding than Gikun, in the sense that a lot of the usual readings apply, in a way that's almost the inverse of Gikun, it usually gives very little indication of the meaning.</p>
            </li>
        </ul>
    </div>
</section>