<article class="main__article ateji first-article">
    <h3 class="article-header-text">What is Ateji?</h3>
    <p class="article-text">
    <b>Ateji</b> (当て字, meaning "assigned" + "character") is a system
    that is functionally the opposite of gikun. It assigns sounds to
    kanji and behaves much like the other two scripts in the Japanese
    language (Katakana & Hiragana).
    </p>
    <p class="article-text">
    This was an entire system in and of itself at the dawn of Japanese
    writing, known as <b>man'yogana</b>, and it is not only the origin
    of ateji, but the origin of the aforementioned other two phonetic
    scripts as well. As you can imagine, writing out complicated kanji
    not for words, but for simple letters, quickly became too
    cumbersome, and was thus simplified to produce katakana and
    hiragana.
    </p>
    <p class="article-text">
    Because of this history, vestigial remnants of man'yogana remains in
    Japanese, which we now call ateji. Sometimes, neologisms would be
    assigned an ateji instead of a more regular spelling, as well. A
    classic example of this would be 寿司 ("Sushi", spelled with the
    words for "longevity" and "governor")
    </p>
    <p class="article-text">
    There was also a trend before World War II to assign ateji to
    foreign loan words (that weren't Chinese, that is). An example of
    this would be the name of America, spelled 亜米利加, which spells
    out a-me-ri-ka. Because of this word, America is often shorted to
    just 米 (the second kanji in this word) in Japanese, which just
    means "rice". Unless you understand ateji, this is obviously
    non-sensical.
    </p>
    <div class="image ateji">
    <div class="image-description ateji">
        Even something as common as sushi is spelled with ateji.
    </div>
    </div>
</article>

<article class="main__article">
    <h3 class="article-header-text">Examples of Ateji</h3>
    <div class="example-grid-container first-item">
    <div class="kanji-grid-area">寿司</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Sushi</div>
    <div class="thin row-grid-area">Reading</div>
    <div class="thick row-grid-area">Sushi</div>
    <div class="thin row-grid-area">Origin</div>
    <div class="thick row-grid-area last-area">Neologism</div>
    <div class="explanation-grid-area">
        Composed of the characters for "longevity" and "governor". Even
        such a quintessentially Japanese concept as sushi is spelled with
        ateji. Sushi came to be in the early Edo era (~1600s) and while
        the actual word indicates essentially means "vinegared" (referring
        to how the rice is treated), it was spelled with ateji instead.
    </div>
    </div>
    <div class="example-grid-container border-item">
    <div class="kanji-grid-area">独逸</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Germany</div>
    <div class="thin row-grid-area">Reading</div>
    <div class="thick row-grid-area">Doitsu</div>
    <div class="thin row-grid-area">Origin</div>
    <div class="thick row-grid-area last-area">Loanword</div>
    <div class="explanation-grid-area">
        Composed of the characters for "alone" and "deviate". The Japanese
        came into contact with the Western World relatively late, in the
        1800s. In this period, assigning ateji to foreign loanwords was
        still in vogue, and as such, many prominent countries in the West
        are known by their ateji in Japanese.
    </div>
    </div>
    <div class="example-grid-container border-item">
    <div class="kanji-grid-area">珈琲</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Coffee</div>
    <div class="thin row-grid-area">Reading</div>
    <div class="thick row-grid-area">Kou-hii</div>
    <div class="thin row-grid-area">Origin</div>
    <div class="thick row-grid-area last-area">Loanword</div>
    <div class="explanation-grid-area">
        Composed of the characters for "hairpin" and "pearl-string". As
        Japan came in contact with the West, it also encountered new
        concepts, such as coffee. Because Japanese has no native sound for
        "ffe", it uses "hi" instead.
    </div>
    </div>
    <div class="example-grid-container border-item">
    <div class="kanji-grid-area">無駄</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Useless</div>
    <div class="thin row-grid-area">Reading</div>
    <div class="thick row-grid-area">Muda</div>
    <div class="thin row-grid-area">Origin</div>
    <div class="thick row-grid-area last-area">Vestige</div>
    <div class="explanation-grid-area">
        Composed of the characters for "not" and "bad". Given that the
        meaning contradicts the characters, you can see how this is
        confusing. This is an old word which was never given a revised
        spelling after man'yogana fell out of vogue.
    </div>
    </div>
    <div class="example-grid-container border-item last-item">
    <div class="kanji-grid-area">素敵</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Wonderful</div>
    <div class="thin row-grid-area">Reading</div>
    <div class="thick row-grid-area">Suteki</div>
    <div class="thin row-grid-area">Origin</div>
    <div class="thick row-grid-area last-area">Vestige</div>
    <div class="explanation-grid-area">
        Composed of the characters for "source" and "enemy". Not very
        wonderful, if you ask me. Once again, this is a very ancient word
        which simply never got a revised spelling.
    </div>
    </div>
</article>