<article class="main__article">
    <h3 class="article-header-text">Contact Form</h3>
    <p class="article-text">
    If you have any questions about kanji you would like to send me,
    feel free to use the contact form and send me an e-mail!
    </p>
    <form
    action="mailto: alexanderbjdgw@gmail.com"
    enctype="text/plain"
    method="POST"
    class="user-form"
    >
    <fieldset>
        <label for="user-name">Please enter your e-mail here: </label
        ><br />
        <input
        class="email-input"
        type="text"
        name="user-email"
        id="user-email"
        required
        />
        <br />
        <br />
        <label for="user-message">Enter your message below: </label><br />
        <textarea
        class="message-input"
        type="text"
        name="user-message"
        id="user-message"
        rows="10"
        cols="40"
        required
        ></textarea
        ><br />
        <br />
        <button class="button">Submit Form</button>
    </fieldset>
    </form>
</article>