<article class="main__article first-article">
    <h3 class="article-header-text">What is Gikun (+Jukujikun)?</h3>
    <p class="article-text">
    <b>Gikun</b> (義訓, "meaning" + "kun" <i>*from kunyomi</i>) is a
    category of words in Japanese written with two or more kanji that
    are not read with any of the readings previously discussed, but
    rather have a unique reading that only appears in that specific
    word. You could essentially see it as a kunyomi reading of a
    combination of kanji instead of a single one.
    </p>
    <p class="article-text">
    There exists a category within gikun known as
    <b>jukujikun</b> (熟字訓, "compound" + "character" + "kun"). These
    are gikun that have become so common they are considered general
    knowledge. A lot of very common Japanese words are actually
    jukujikun when written, such as 大人 ("adult", written with the
    characters for "big" and "person")
    </p>
    <p class="article-text">
    Many jukujikun were born essentially as an easy way to learn how to
    spell a word for a native. Rather than assign a whole new kanji to a
    native Japanese word, you could instead just use two or more simpler
    kanji and use their combined meaning to show what the word is. As
    such, jukujikun are mostly benign and easy to intuit (relatively
    speaking). In comparison, words that are still considered gikun are
    far more devious and usually have their roots in poetry or
    literature.
    </p>
    <p class="article-text">
    One famous example would be 小鳥遊 ("Takanashi", a common surname).
    In most cases, this name would be spelled 高梨, and reading it you
    just need to know the kunyomi of the two respective kanji. 小鳥遊,
    however, is constructed from "small", "bird", and "play". The idea
    behind it is that the name itself sounds like the Japanese phrase
    "No hawks", and the logic goes that when there are no hawks, the
    smaller birds play. Not particularly intuitive.
    </p>
    <div class="image gikun">
    <div class="image-description gikun">An apt metaphor?</div>
    </div>
</article>
<article class="main__article">
    <h3 class="article-header-text">Examples of Jukujikun</h3>
    <div class="example-grid-container first-item">
    <div class="kanji-grid-area">大人</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Adult</div>
    <div class="thin row-grid-area">Expected</div>
    <div class="thick row-grid-area">Daijin</div>
    <div class="thin row-grid-area">Actual</div>
    <div class="thick row-grid-area last-area">Otona</div>
    <div class="explanation-grid-area">
        Composed of the characters for "big" and "person". One of the very
        first jukujikun that you would learn, owing to its ubiquity.
    </div>
    </div>
    <div class="example-grid-container border-item">
    <div class="kanji-grid-area">今日</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Today</div>
    <div class="thin row-grid-area">Expected</div>
    <div class="thick row-grid-area">Konnichi</div>
    <div class="thin row-grid-area">Actual</div>
    <div class="thick row-grid-area last-area">Kyou</div>
    <div class="explanation-grid-area">
        Composed of the characters for "now" and "day". Unexpectedly, the
        expected reading is actually sometimes used, such as in the phrase
        "Konnichi wa", which is a greeting meaning "How's today"?
    </div>
    </div>
    <div class="example-grid-container border-item">
    <div class="kanji-grid-area">昨日</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Yesterday</div>
    <div class="thin row-grid-area">Expected</div>
    <div class="thick row-grid-area">Sakujitsu</div>
    <div class="thin row-grid-area">Actual</div>
    <div class="thick row-grid-area last-area">Kinou</div>
    <div class="explanation-grid-area">
        Composed of the characters for "prior" and "day". Much like its
        above cousin, its expected reading is sometimes used, particularly
        in formal contexts, where onyomi is seen as more prestigious.
    </div>
    </div>
    <div class="example-grid-container border-item">
    <div class="kanji-grid-area">下手</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Unskilled</div>
    <div class="thin row-grid-area">Expected</div>
    <div class="thick row-grid-area">Shitate</div>
    <div class="thin row-grid-area">Actual</div>
    <div class="thick row-grid-area last-area">Heta</div>
    <div class="explanation-grid-area">
        Composed of the characters for "down" and "hand". You might sense
        a pattern, because the expected reading here is also sometimes
        used, but means something rather different (an inferior person).
        Japanese is complicated!
    </div>
    </div>
    <div class="example-grid-container border-item last-item">
    <div class="kanji-grid-area">田舎</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Countryside</div>
    <div class="thin row-grid-area">Expected</div>
    <div class="thick row-grid-area">Tasha</div>
    <div class="thin row-grid-area">Actual</div>
    <div class="thick row-grid-area last-area">Inaka</div>
    <div class="explanation-grid-area">
        Composed of the characters for "ricefield" and "cottage". However,
        patterns aren't absolute. The expected reading here is
        <b>never</b> used.
    </div>
    </div>
</article>
<article class="main__article">
    <h3 class="article-header-text">Examples of Gikun</h3>
    <div class="example-grid-container first-item">
    <div class="kanji-grid-area">小鳥遊</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Takanashi (name)</div>
    <div class="thin row-grid-area">Expected</div>
    <div class="thick row-grid-area">Kotoriasobi</div>
    <div class="thin row-grid-area">Actual</div>
    <div class="thick row-grid-area last-area">Takanashi</div>
    <div class="explanation-grid-area">
        Composed of the characters for "small", "bird" and "play". Because
        of how common the name is among Japanese people, this particular
        gikun is quite famous and few would misread it. Takanashi sounds
        like the phrase "No hawks" and so the logic is that "small birds
        play" when there are "no hawks".
    </div>
    </div>
    <div class="example-grid-container">
    <div class="kanji-grid-area">破落戸</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Hoodlum</div>
    <div class="thin row-grid-area">Expected</div>
    <div class="thick row-grid-area">Harakuko</div>
    <div class="thin row-grid-area">Actual</div>
    <div class="thick row-grid-area last-area">Gorotsuki</div>
    <div class="explanation-grid-area">
        Composed of the characters for "destroy", "fall" and "door". A
        loan word from Chinese that indicated a hoodlum, however, unlike a
        lot of other Chinese words in which the pronounciation was loaned
        as well, here the Japanese applied their own word meaning the
        same.
    </div>
    </div>
    <div class="example-grid-container">
    <div class="kanji-grid-area">美人局</div>
    <div class="thin row-grid-area">Meaning</div>
    <div class="thick row-grid-area">Badger game</div>
    <div class="thin row-grid-area">Expected</div>
    <div class="thick row-grid-area">Bijinkyoku</div>
    <div class="thin row-grid-area">Actual</div>
    <div class="thick row-grid-area last-area">Tsutumotase</div>
    <div class="explanation-grid-area">
        Composed of the characters for "beauty", "person" and "courtesan".
        A complicated double-meaning. The word "Tsutsumotase" when written
        筒もたせ describes a form of cheating in dice gambles. This word
        was applied to also describe a very specific form of fraud (known
        in english as "badger game"), which necessitated them to be
        differentiated, something they accomplished by spelling it like
        indicated here.
    </div>
    </div>
</article>