<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (locals.headTitle) { %>
    <title><%- headTitle %></title>
    <% } else { %>
    <title>Title not found</title>
    <% } %>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/typography.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/pageTitle.css">
    <link rel="stylesheet" href="/styles/images.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/submenu.css">
    <link rel="stylesheet" href="/styles/exampleGrid.css">
    <link rel="stylesheet" href="/styles/words.css">
</head>