<div class="main__article home">
    <div class="home__welcome-text">
        <p class="article-text">This website contains information (in the form of articles) about the Japanese writing system of Kanji, as well as a tool that allows you to inspect information about words in Kanji. If you want to contact me there is a form for that as well.</p>
        <p class="article-text">I hope you'll enjoy learning about the nuances of the Japanese writing system!</p>
    </div>
    <div class="home__redirection">
        <div>
            <h3 class="article-header-text ">Want to learn?</h2>
            <p class="article-text">Read about Kanji, from basic concepts, to advanced:</p>
            <a class="article-text home-link" href="./articles">Articles about Kanji</a>
        </div>
        <div>
            <h3 class="article-header-text ">Want to study vocabulary?</h2>
            <p class="article-text">Look up words in Japanese written using Kanji</p>
            <a class="article-text home-link" href="./articles">Words in Kanji</a>
        </div>
    </div>
</div>