<article class="main__article introduction first-article">
    <div>
    <h3 class="article-header-text">What is Kanji?</h3>
    <p class="article-text">
        Kanji is one of the three scripts used to write the Japanese
        language. Unlike Hiragana and Katakana, the other two scripts,
        kanji is a logographic script, meaning that its letters
        (generally) represent meaning instead of sound.
    </p>
    <p class="article-text">
        Kanji was imported to Japan from China by the way of Korea
        sometime in the 5th century. As such, to know the origins of
        kanji, you have to understand the origins of Hanzi, as the script
        is called in Chinese.
    </p>
    <p class="article-text">
        Hanzi was developed by the Chinese around 3000 years ago. Back
        then, it was a rudimentary writing system used to carve into bones
        and other hard objects, such as turtle shells, and did not contain
        as many characters as it does today.
    </p>
    <p class="article-text">
        As Chinese civilization developed, their writing system did as
        well, leading to thousands of new characters being introduced into
        it. It was this more complete form of Hanzi that later would
        become kanji.
    </p>
    </div>
    <div class="image introduction">
    <div class="image-description introduction">
        Bone inscribed with the earliest known form of the Chinese script.
    </div>
    </div>
</article>
<article class="main__article basics">
    <h3 class="article-header-text">How Kanji Work</h3>
    <p class="article-text">
    Kanji are composed of smaller elements known as radicals. These
    constitute the most basic semantic elements of the script. This
    sometimes gives the impression that each kanji is constructed by
    simply intuiting the meaning of all these elements together, but
    it's not that simple.
    </p>
    <p class="article-text">
    To understand the logic behind how each radical contributes to the
    kanji itself, you have to understand the history of how they were
    developed in China. Depending on how they were formed, they are
    classified into one of six camps.
    </p>
    <ul class="article-text">
    <li>
        <b>Pictograms</b> <br />Kanji that simply look like what they are
        supposed to represent. They were the first kind of kanji to be
        introduced and are few in number. <br />Examples of pictograms are
        山 (mountain) and 火 (fire). <br />These could not represent
        things which aren't physical, and so another category was needed.
    </li>
    <br />
    <li>
        <b>Ideograms</b> <br />Kanji whose shape represent an idea or
        concept without a set physical form. <br />Examples of ideograms
        are 上 (up) and 下 (down). <br />Like pictograms, they proved to
        be too simple to easily expand into more complicated concepts, and
        so once again, a new category was needed.
    </li>
    <br />
    <li>
        <b>Compound Ideograms</b> <br />Kanji constructed from
        combinations of smaller kanji (radicals) to extrapolate an idea or
        meaning. <br />Examples of compound ideograms are 煩 (trouble,
        fire + paper) or 休 (rest, person + tree). <br />While capable of
        much more advanced meanings, they were not intuitive enough to be
        easily understood. <br />As they were so removed from the
        language, it was not always clear how they were to be said, and so
        finally another type of kanji emerged.
    </li>
    <br />
    <li>
        <b>Phono-Semantic Compounds</b> <br />Kanji made up of a phonetic
        element (indicating pronounciation) and a semantic element
        (indicating meaning). <br />A good example is 被 (wear), whose
        left-most radical indicates it has something to do with cloth,
        while its right-most indicates it is pronounced the same as 皮
        (leather). <br />Generally speaking, the left-most element is the
        semantic, and the right-most is the phonetic, though this is not
        always the case. <br />Phono-semantic compounds make up about 80%
        of all kanji. The Chinese of the first millennium must have found
        them exceedingly convenient.
    </li>
    </ul>
    <p class="article-text">
    There are two more categories, but they are hard to understand and
    not very important, so I won't explain them here. However, because
    the vast majority of kanji is made up of the 4th category, knowing
    how they work is key to understand the script.
    </p>
    <p class="article-text">
    That said, Japanese and Chinese are, as far as languages go,
    extremely different, which is why in order to accomodate the Chinese
    script to Japanese, you need to make a lot of adjustments.
    </p>
    <p class="article-text">
    First among these adjustments is that each kanji has two different
    classes of <b>readings</b>, i.e, pronounciations. These two are
    called <b>kunyomi</b> and <b>onyomi</b>. Kunyomi represent a
    Japanese word, while onyomi represent the original chinese
    pronounciation, but filtered through the rather simple Japanese
    phonetic system.
    </p>
    <div class="image basics"></div>
    <p class="article-text">
    Japanese sounds are very limited, so a lot of the complex sound
    similarities formed through the phono-semantic compounds in Chinese
    all blend together.
    </p>
    <p class="article-text">
    And as if to make matters worse, onyomi itself is divided into 4
    groups depending on when and from where the kanji entered Japanese.
    These four are known as <b>Go-on</b>, <b>Kan-on</b>, <b>To-on</b>,
    <b>Kan'yo on</b> and as a result, many kanji have up to five
    readings.
    </p>
    <p class="article-text">
    You might also think that "at least kunyomi doesn't seem as
    complicated", but in actuality, it is the more complicated category.
    Exactly how many and what kunyomi a kanji have is largely arbitrary.
    Some words have upwards of 20 kunyomi, while others have none. 生
    famously has <b><i>22 common readings</i></b
    >, and more depending on how you count them.
    </p>
    <p class="article-text">
    And this isn't even getting into name readings, known as
    <b>Nanori</b> which do not follow any rule whatsoever and can be
    invented wholesale by the parent naming their child. No wonder then,
    that when people introduce themselves in Japan, they both write
    their name and say it out loud. The name <b>Takeshi</b> (a common
    male given name) has probably been written in hundreds, if not
    thousands of different ways.
    </p>
    <p class="article-text">
    There are of course more things to know about kanji, but I will
    leave some of that in the advanced section. Keep reading!
    </p>
</article>