<div class="submenu">
    <div class="submenu__container">
        <h1 class="page-title"><%= locals.pageTitle %></h1>
        <div class="submenu__items">
            <div class="search-bar__container">
                <form action="" method="get" class="search-field">
                    <label for="search" class="search-field__label">Search here</label>
                    <input type="text" name="search" id="search" class="search-field__input" placeholder="Random">
                    <button class="search-button">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>