@font-face {
    font-family: 'Noto Serif JP';
    src: url('NotoSerifJP-Medium.woff2') format('woff2'),
        url('NotoSerifJP-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('NotoSerifJP-ExtraBold.woff2') format('woff2'),
        url('NotoSerifJP-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('NotoSerifJP-Bold.woff2') format('woff2'),
        url('NotoSerifJP-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('NotoSerifJP-Light.woff2') format('woff2'),
        url('NotoSerifJP-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('NotoSerifJP-Black.woff2') format('woff2'),
        url('NotoSerifJP-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('NotoSerifJP-ExtraLight.woff2') format('woff2'),
        url('NotoSerifJP-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('NotoSerifJP-SemiBold.woff2') format('woff2'),
        url('NotoSerifJP-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('NotoSerifJP-Regular.woff2') format('woff2'),
        url('NotoSerifJP-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

